.card{
    margin:20px 0px;
    padding: 10px;
    background-color:white;
    opacity: 0.8;
    max-height: 40%;
    min-width: 15%;
    max-width: 10%;
    z-index:1;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding-left: 10px;
    margin-top: 50px;
    justify-content: space-evenly;
}