.nav{
    background-color: rgb(13, 13, 13);
    height: 50px;
}

.nav__container{
    margin: 0px 50px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
}

.nav__item{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    transition: background-color .2s;
}

.nav__item:hover{
    background-color: #333;
    cursor: pointer;
}