*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

:root{
  --mainBackground: rgb(13, 13, 13);
  --customYellow: rgb(234,218,70);
  --customGrey: #333;
}

body{
  background-color: rgb(236, 236, 236);
}

.link{
  color: #fff;
  border: none;
  text-decoration: none;
}